#app-header {
  min-height: 48px;
  color: #0F0F0F;
  background-color: #282c34
}

#app-nav {
  min-height: 24px;
  text-align: center;
  background-color: aqua
}

#app-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: azure
}

#quote-box {
  margin: 0 auto;
  width: 90%;
  min-width: 320px;
  max-width: 720px;
  min-height: 192px;
  background-color: lightgoldenrodyellow
}

#app-footer {
  min-height: 48px;
  color: #61dafb;
  background-color: navajowhite
}
