#app-header {
  min-height: 48px;
  color: #0F0F0F;
  transition: background-color 0.5s
}

#app-nav {
  min-height: 24px;
  text-align: center;
}

#app-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.5s
}

#quote-box {
  margin: 0 auto;
  width: 90%;
  min-width: 320px;
  max-width: 600px;
  min-height: 280px;
  border-radius: 8px;
  box-shadow: 0 0 28px #1F1F1F;
  transition: background-color 0.5s;
  overflow: hidden
}

#quote-box h2 {
  margin: 16px;
  text-align: left
}

#quote-box h4 {
  margin: 16px;
  text-align: right
}

#quote-box button {
  width: 120px;
  height: 36px;
  font-size: 18px;
  border-radius: 4px;
  color: #F0F0F0;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.75;
  transition: opacity 0.25s
}

#quote-box button:hover {
  opacity: 0.5;
}

#app-footer {
  min-height: 48px;
  color: #61dafb;
  transition: background-color 0.5s
}

@media(max-width: 360px) {
  #quote-box {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none
  }
}