#app-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 48px;
  color: #F0F0F0;
  transition: background-color 1s
}

#app-header .faIcon {
  margin: 0 8px
}

#div-headings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 8px
}

#div-headings-wrapper * {
  text-align: right;
  display: inline-block
}

#app-nav {
  min-height: 24px;
  text-align: center;
}

#app-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 1s
}

#quote-box {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 90%;
  min-width: 320px;
  max-width: 600px;
  min-height: 280px;
  border-radius: 8px;
  box-shadow: 0 0 28px #1F1F1F;
  transition: all 1s;
  overflow: hidden
}

#quote-box h2 {
  margin: 16px;
  text-align: center
}

#quote-box h4 {
  margin: 16px;
  text-align: right
}

#quote-box .faIcon {
  margin: 0;
  transition: all 1s
}

#div-button-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px
}

#quote-box button {
  width: 120px;
  height: 42px;
  margin-bottom: 4px;
  font-size: 18px;
  border-radius: 4px;
  color: #F0F0F0;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 1.0;
  transition: all 0.5s;
  justify-self: flex-end
}

#quote-box button:hover {
  opacity: 0.5;
}

#app-footer {
  min-height: 48px;
  color: #F0F0F0;
  text-align: center;
  transition: background-color 1s
}

#app-footer * {
  margin: 8px 0
}

#app-footer li {
  margin: 0 8px;
  display: inline-block
}

a:link, a:visited {
  color: #F0F0F0;
  opacity: 1.0;
  transition: all 0.5s
}

a:hover, a:active {
  opacity: 0.5;
}

@media(max-width: 360px) {
  #quote-box {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none
  }
}